<div class="page-title">
  <h3>Plan <span class="semi-bold">Upgrade</span></h3>
</div>

<div class="col-md-3">
  <div class="grid simple">
    <div class="grid-body no-border">

      <% if params[:plan_name] == 'starter' %>

        <h3 class="text-center">Starter</h3>

        <ul class="no-padding list-unstyled payment-plan">
          <li>4 Invoices / Month</li>
          <li>Unlimited Clients</li>
          <li>Unlimited Transactions Amount</li>
          <li>Stripe and Braintree Payments</li>
        </ul>

        <hr/>

        <h3 class="text-center">$12/month</h3>

      <% elsif params[:plan_name] == 'team' %>

        <h3 class="text-center">Team</h3>

        <ul class="no-padding list-unstyled payment-plan">
          <li><strong>40 Invoices / Month</strong></li>
          <li>Unlimited Clients</li>
          <li>Unlimited Transactions Amount</li>
          <li>Stripe and Braintree Payments</li>
          <li><strong>Recurring Payments</strong></li>
        </ul>

        <hr/>

        <h3 class="text-center">$29/month</h3>

      <% elsif params[:plan_name] == 'agency' %>

        <h3 class="text-center">Agency</h3>

        <ul class="no-padding list-unstyled payment-plan">
          <li><strong>Unlimited Invoices</strong></li>
          <li>Unlimited Clients</li>
          <li>Unlimited Transactions Amount</li>
          <li>Stripe and Braintree Payments</li>
          <li><strong>Recurring Payments</strong></li>
        </ul>

        <hr/>

        <h3 class="text-center">$99/month</h3>
      <% end %>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="grid simple">
    <div class="grid-body no-border">

      <div class="<%= 'hidden' if current_user.account_plan != 'trial' %>" id="plan-card-container">

        <h3>Payment Details</h3>

        <%= form_tag '/subscription_plans.json', id: 'subscription-plan-form' do %>

          <div class="form-group">
            <div class="controls">
              <input type="text" placeholder="Card Number" class="form-control cc-num" size="20" autocomplete="off" data-encrypted-name="number" required>
            </div>
          </div>

          <div class="form-group">
            <div class="controls">
              <input type="text" class="form-control cc-exp" placeholder="Expiration (MM / YYYY)" data-braintree="exp-month" required />
            </div>
          </div>

          <div class="form-group">
            <div class="controls">
              <input type="text" class="form-control cc-cvc" placeholder="CVC" size="4" autocomplete="off" data-encrypted-name="cvv" required>
            </div>
          </div>

          <%= hidden_field_tag :plan_name, params[:plan_name] %>
          <input type="hidden" id="braintree-client-nonce" data-braintree-client-nonce='<%= @braintee_client_token %>'>

          <div class="payment-errors"></div>

          <input type="submit" value="UPGRADE NOW" class="btn pay-btn btn-success btn-cons"></submit>
        <% end %>

      </div>

      <div class="<%= 'hidden' if current_user.account_plan == 'trial' %>" id="plan-change-container">

        <h3>Plan Change</h3>

        <br><p>Your plan will be changed to <strong><%= params[:plan_name].capitalize %></strong> immediately.</p><br>

        <%= form_tag '/subscription_plans/change', method: :put, id: 'subscription-plan-change' do %>
          <%= hidden_field_tag :plan_name, params[:plan_name] %>
          <input type="submit" value="CONFIRM CHANGE" class="btn pay-btn btn-success btn-cons"></submit>
        <% end %>
      </div>
    </div>
  </div>
</div>