<div class="page-title">
  <h3>Invoices - <span class="semi-bold">#<%= @invoice.invoice_number %></span></h3>
</div>

 <div class="row">
  <div class="col-md-11 col-xs-11">
    <div class="grid simple">
      <div class="grid-body no-border invoice-body">

        <% if current_user.logo.present? %>
          <%= image_tag current_user.logo.thumb.url, height: 30, style: 'margin-top: 12px;' %><br>
        <% end %>

        <br>

        <div class="row invoice-headers">

          <div class="row col-md-7 col-xs-7 pull-left">
            <div class="col-md-5 col-xs-4">
              <h5 class="semi-bold">FROM</h5>
              <address>
                <%= simple_format(@invoice.from_company) %><br>
              </address>
            </div>

            <div class="col-md-5 col-xs-4">
              <h5 class="semi-bold">TO</h5>
              <address>
                <%= simple_format(@invoice.to_company) %><br>
              </address>
            </div>
          </div>

          <div class="col-md-5 col-xs-5 pull-right">
            <table class="pull-right">
              <tr>
                <td class="col-md-8 col-xs-8 text-left no-padding">INVOICE NO.</td>
                <td><%= @invoice.invoice_number %></td>
              </tr>
              <tr>
                <td class="col-md-8 col-xs-8 text-left no-padding">DATE ISSUED</td>
                <td><%= @invoice.date_issued %></td>
              </tr>
              <tr>
                <td class="col-md-8 col-xs-8 text-left no-padding">DUE DATE</td>
                <td><%= @invoice.due_date %></td>
              </tr>
              <tr>
                <td class="col-md-8 col-xs-8 text-left no-padding"><strong>Total Due</strong></td>
                <td><%= @invoice.total_due %> USD </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="clearfix"></div>

        <% if @invoice.paid? %>
          <% if @invoice.paid_by_card? %>
            <span class="btn btn-primary pull-right">Paid by Card</span>
          <% else %>
            <%= link_to 'Marked as Paid', mark_unpaid_path(id: @invoice.id), class: 'btn btn-primary pull-right' %>
          <% end %>
        <% else %>
          <%= link_to 'Pending', invoice_path(invoice: { paid_date: Date.today }), class: 'btn pull-right', method: :put %>
        <% end %>

        <br><br><br>
        <div class="clearfix"></div>
        <div class="pull-right">
          <% if @invoice.invoice_views.any? %>
            Viewed <%= @invoice.invoice_views.count %> times, last at <%= @invoice.last_view_date %>
          <% else %>
            This invoice has not been viewed by the client yet.
          <% end %>
        </div>
        <div class="clearfix"></div>
        <br><br>
        <table class="table">
          <thead>
            <tr>
              <th class="text-left">DESCRIPTION</th>
              <th style="width:60px" class="unseen text-center">QTY</th>
              <th style="width:150px" class="text-right">UNIT PRICE</th>
              <th style="width:150px" class="text-right">TOTAL</th>
            </tr>
          </thead>
          <tbody>
            <% @invoice.invoice_items.each do |item| %>
              <tr>
                <td><%= item[:description] %></td>
                <td class="unseen text-center"><%= item[:qty] %></td>
                <td class="text-right"><%= item[:unit_price] %> <%= @invoice.currency %></td>
                <td class="text-right"><%= (item[:unit_price].to_f * item[:qty].to_f).round(2) %> <%= @invoice.currency %></td>
              </tr>
            <% end %>

            <tr>
              <td colspan="2"></td>
              <td class="text-right"><strong><%= @invoice.tax_name || 'Tax' %></strong></td>
              <td class="text-right"><%= @invoice.tax_amount %> <%= @invoice.currency %></td>
            </tr>
            <tr>
              <td></td><td></td>
              <td class="text-right"><strong>Subtotal</strong></td>
              <td class="text-right"><%= @invoice.subtotal %> <%= @invoice.currency %></td>
            </tr>
            <!--<tr>
              <td class="text-right no-border"><strong>VAT Included in Total</strong></td>
              <td class="text-right">$0.00</td>
            </tr>-->
            <tr>
              <td></td><td></td>
              <td class="text-right"><strong>Total</strong></td>
              <td class="text-right"><strong><%= @invoice.total %> <%= @invoice.currency %></strong></td>
            </tr>

            <tr>
              <td colspan="2" rowspan="4" class="no-border"><br><p><%= @invoice.notes %></p>
              <!--<h5 class="text-right semi-bold">Thank you for your business</h5></td>-->
            </tr>
          </tbody>
        </table>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
  <div class="col-md-1 col-xs-1">
    <div class="invoice-button-action-set">
      <p>
        <a href="<%= public_show_invoice_path(secure_id: @invoice.secure_id) %>" class="btn"><i class="fa fa-eye" style="width: 13px; margin-left: -1px;"></i></a>
      </p>

      <p>
        <% if @invoice.paid? %>
          <span class="btn no-padding" style="cursor: inherit;"><i data-toggle="tooltip" data-placement="left" title="Cannot edit paid invoice" class="fa fa-pencil" style="padding: 12px;"></i></span>
        <% else %>
          <a href="<%= edit_invoice_path %>" class="btn"><i class="fa fa-pencil"></i></a>
        <% end %>
      </p>

      <p>
        <a href="<%= invoice_path %>" class="btn" data-confirm="Are you sure?" data-method="delete" rel="nofollow"><i class="fa fa-trash-o"></i></a>
      </p>

      <!--<p>
        <button class="btn" type="button"><i class="fa fa-print"></i></button>
      </p>-->
    </div>
  </div>
</div>