<div class="page-title">
  <h3>Recurring Invoices - <span class="semi-bold">List</span></h3>
  <%= link_to 'New Recurring Invoice', new_recurring_invoice_path, class: 'btn btn-primary f-right' %>
</div>

<!-- <div class="row">
  <div class="col-md-4">
    <div class="grid simple ">
      <div class="grid-body invoice-overview-box">
        <h5 class="text-center">PAID</h5>
        <h5 class="text-center"><span class="semi-bold">$32,020</span></h5>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="grid simple ">
      <div class="grid-body invoice-overview-box">
        <h5 class="text-center">OWING</h5>
        <h5 class="text-center"><span class="semi-bold">$1,305</span></h5>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="grid simple ">
      <div class="grid-body invoice-overview-box">
        <h5 class="text-center">OVERDUE</h5>
        <h5 class="text-center"><span class="semi-bold">$0</span></h5>
      </div>
    </div>
  </div>
</div> -->

<div class="row dataTables_wrapper">
  <div class="col-md-12">

    <div class="grid simple ">
      <div class="grid-body no-border">
          <table class="table recurring-invoices">
            <thead>
              <tr>
                <th style="width:15%">Profile Name</th>
                <th style="width:15%">Client</th>
                <th style="width:10%">From Date</th>
                <th style="width:10%">To date</th>
                <th style="width:10%">Interval (days)</th>
                <th style="width:10%">Amount</th>
                <th style="width:10%">Auto-charging</th>
              </tr>
            </thead>
            <tbody>
              <% @recurring_invoices.each do |recurring| %>
                <tr class="item">
                  <td class="v-align-middle"><%= link_to recurring.profile_name, recurring_invoice_path(recurring) %></td>

                  <td class="v-align-middle"><%= link_to recurring.client.business_name, recurring_invoice_path(recurring) %></td>

                  <td class="v-align-middle"><%= link_to recurring.from_date.try(:strftime, "%d. %b %Y"), recurring_invoice_path(recurring) %></td>

                  <td class="v-align-middle"><%= link_to recurring.to_date.try(:strftime, "%d. %b %Y"), recurring_invoice_path(recurring) %></td>

                  <td class="v-align-middle"><%= link_to recurring.interval_in_days, recurring_invoice_path(recurring) %></td>

                  <td class="v-align-middle"><%= link_to recurring.total, recurring_invoice_path(recurring) %> <%= recurring.currency %></td>

                  <td class="v-align-middle"><%= link_to recurring.auto_charge?, recurring_invoice_path(recurring) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <div class="row">
            <div class="col-md-12">
              <div class="dataTables_paginate paging_bootstrap pagination">
                <!--<ul>
                  <li class="prev disabled"><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li class="next"><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                </ul>-->

                <%= paginate @recurring_invoices %>
              </div>

              <!--<div class="dataTables_info" id="example2_info">Showing <b>1 to 10</b> of 57 entries</div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>