<div class="page-title">
  <h3>Account - <span class="semi-bold">Settings</span></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="grid simple">
      <!--<div class="grid-title no-border">
        <h4>Your <span class="semi-bold">Details</span></h4>
      </div>-->
      <%= form_for @account, url: account_path, method: :put, html: { multipart: true } do |f| %>
        <div class="grid-body no-border"> <br>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label class="form-label">Your Name</label>
                <div class="controls">
                  <%= f.text_field :contact_name, class: 'form-control', required: true %>
                </div>
              </div>

              <div class="form-group">
                <label class="form-label">Business Name</label>
                <div class="controls">
                  <%= f.text_field :business_name, class: 'form-control', required: true %>
                </div>
              </div>

              <div class="form-group">
                <label class="form-label">Business Address</label>
                <div class="controls">
                  <%= f.text_area :business_address, class: 'form-control', required: true %>
                </div>
              </div>

              <div class="form-group">
                <label class="form-label">Email</label>
                <div class="controls">
                  <%= f.email_field :email, autofocus: true, class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <label class="form-label">Password</label>
                <div class="controls">
                  <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <label class="form-label">Password Confirmation</label>
                <div class="controls">
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <label class="form-label">Your Logo</label>

                <% if current_user.logo.present? %>
                  <%= link_to 'Remove', account_url(user: { remove_logo: true }), method: :put%>
                <% end %>

                <div class="controls">
                  <%= image_tag(current_user.logo.thumb.url, width: 100) if current_user.logo? %>
                  <%= f.file_field :logo %>
                  <%= f.hidden_field :logo_cache %>
                </div>
              </div>

              <div class="form-actions">
                <div class="pull-right">
                  <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
                  <a href="/" class="btn btn-white btn-cons">Cancel</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>